<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Class</title>
</head>
<body>
    <header th:replace="~{/fragments/header :: header}"></header>

    <h3 class="form-title">Edit Kelas ID <span th:text="${id}"></span></h3>
    <form th:object="${classes}"
      th:action="@{/classes/edit/{id}(id=${id})}"
      method="post">
      <input type="text" th:field="*{name}" placeholder="Nama"><br>
      <input type="text" th:field="*{description}" placeholder="Deskripsi"><br>

      <button type="submit" class="submit-btn">Submit</button>
    </form>
</body>
</html>
