<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Product</title>
  <link rel="stylesheet" th:href="@{/css/animation.css}">
  <link rel="stylesheet" th:href="@{/css/popup.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <header th:replace="~{fragments/header :: header}"></header>
  <main>
    <h2 class="page-title">Form edit produk</h2>
    <form th:object="${product}" method="post" th:action="@{/products/edit/{id}(id=${id})}">
      <h4>ID Produk: <span th:text="${id}"></span></h4>

      <label>Nama Produk:</label><br>
      <input type="text" th:field="*{name}" required><br><br>

      <label>Harga:</label><br>
      <input type="number" th:field="*{price}" required><br><br>

      <label>Stok:</label><br>
      <input type="number" th:field="*{stock}" min="1" required><br><br>

      <button type="submit">Simpan</button>
    </form>
  </main>
  <div th:insert="~{fragments/popup :: popup(${status}, ${message})}"></div>

  <script th:src="@{/js/popup.js}"></script>
</body>
</html>

